@font-face 
    font-family: 'Lato Rus' 
    src: url(../fonts/Lato-Regular.woff)
    font-weight: normal
@font-face 
    font-family: 'Lato Rus' 
    src: url(../fonts/Lato-Bold.woff)
    font-weight: 700
*
    font-family: 'Lato Rus'
    box-sizing: border-box
    
.container
    display: flex
    flex-direction: column
    align-items: center
    width: 100wh
    // border: 1px solid red
h1,h2
    margin: 0
    padding: 0
h1
    font-size: 30px
    font-weight: 700
h2 
    font-size: 16px
    margin-top: 20px
    font-weight: 400
.header,.footer
    background: url('../img/header-bg.png') repeat-y 
    background-position: cover
    height: 790px
    color: white
    &-top
        display: flex
        margin-top: 34px
        &-logo
            font-size: 30px
            color: #5a5a5a
            margin-right: 590px
        &-contact
            &-title
                font-size: 28px
                font-weight: 700
            &-subtitle
                color: #d91233
                font-size: 16px
                text-decoration: underline
    &-main-text
        margin-top: 113px
        &-title
            font-size: 48px
            font-weight: 700
            text-transform: uppercase
            text-align: center
        &-subtitle
            font-size: 30px
            line-height: 46px
            text-align: center
    &-images
        margin-top: 100px
        display: flex
        &-block
            display: flex
            flex-direction: column
            justify-content: space-between
            text-align: center
            &-subtitle
                margin-top: 35px
        &-block:not(:last-child)
            margin-right: 100px
    &-buttons
        margin-top: 115px
        display: flex
        &-container
            &-subtitle
                font-size: 14px
                text-align: center
                margin-top: 20px
            button
                width: 240px
                height: 50px
                border-radius: 25px
                background-color: #d91233
                border: none
                color: white
                font-weight: 700
            &:last-child
                button
                    background-color: transparent
                    border: 1px solid #d91233
        &-container:not(:last-child)
            margin-right: 40px


.about 
    margin-top: 80px
    .about-firstRow,
    .about-secondRow
        display: flex
        .about-block
            text-align: center
            &-image
                margin-top: 20px
            &-title
                margin-top: 20px
                font-size: 16px
                font-size: 16px
                font-weight: 700
            &-subtitle
                margin-top: 20px
                font-size: 14px
        .about-block:not(:last-child)
            margin-right: 90px          
    .about-secondRow
        margin-top: 80px

.requestForm
    margin-top: 80px
    padding-top: 80px
    background-color: #ebebeb
    padding-bottom: 80px
    &-top
        &-title
            font-size: 30px
            font-weight: 700
            text-align: center
        &-subtitle
            font-size: 16px
            margin-top: 20px
    &-form
        margin-top: 60px
        padding: 60px
        display: grid
        grid-template-columns: auto auto auto
        border: 5px solid white
        &-column
            // margin-right: 50px
            &-row:not(:last-child)
                margin-bottom: 20px
            &-row
                .title
                    font-size: 13px
                select, input, textarea
                    width: 240px
                    height: 40px
                    font-size: 13px
                    &::placeholder
                        color: #b8b8b8
                input
                    padding-left: 15px 
                textarea
                    height: 115px
                    resize: none
                    padding: 15px 0 0 15px
                button
                    display: block
                    margin-top: 30px
                    width: 240px
                    height: 50px
                    border-radius: 25px
                    background-color: #d91233
                    border: none
                    color: white
                    font-weight: 700
        &-column:not(:last-child)
            margin-right: 50px

.detailes
    margin-top: 80px
    &-title 
        font-size: 30px
        font-weight: 700
    .container-inner
        margin-top: 60px
        display: flex
        flex-direction: column
        align-items: center
        .detailes-row
            text-align: center
            img:not(:last-child) 
                margin-right: 20px
        .detailes-row:not(:first-child)
            margin-top: 20px

.video
    margin-top: 80px
    &-title
        font-size: 30px
        font-weight: 700
        text-align: center
    &-wrapper
        padding: 15px
        border: 5px solid #f2f2f2
        margin-top: 60px
        .video-player
            width: 780px
            height: 390px
            background-color: #3b3b3b

.clients
    background-color: #ebebeb
    margin-top: 80px
    padding-top: 80px
    padding-bottom: 80px
    h1 
        font-size: 30px
        font-weight: 700
    .container-inner
        padding-top: 60px
        display: grid
        grid-template-rows: auto auto
        grid-template-columns: auto auto
        gap: 50px
        .clients-block
            display: flex
            &-main
                margin-left: 20px
                &-title
                    color: #757575
                    font-size: 12px
                &-subtitle
                    margin-top: 5px
                    color: #d91233
                    font-size: 16px
                    font-weight: 700
                &-text 
                    margin-top: 10px
                    color: #2b2b2b
                    font-size: 13px
                    font-weight: 700

.consultation 
    background-color: #dbdbdb
    padding: 80px
    .consultation-form
        margin-top: 60px
        display: flex
        flex-direction: column
        align-items: center
        border: 5px solid #ffffff
        padding: 60px
        .input-container
            display: flex
            .input-block
                margin-right: 40px
                .input-title
                    font-size: 13px
                    margin-bottom: 7px
                input
                    width: 290px
                    height: 45px
                    border: none
                    padding-left: 15px 
        button
            margin-top: 40px
            width: 300px
            height: 50px
            border-radius: 25px
            background-color: #d91233
            border: none
            color: #ffffff
            font-size: 18px
            font-weight: 700

.map
    background: url('../img/map.jpg') no-repeat
    background-position: center
    height: 500px
    position: relative
    &-block
        background-color: #d91233
        position: absolute 
        top: 50px
        left: 50%
        transform: translate(-50%)
        padding: 50px 100px
        color: #fff
        text-align: center
        &-title
            font-size: 24px
            font-weight: 700
            margin-bottom: 35px
        &-text
            font-size: 20px
        &-tel
            font-weight: 700
        &-email
            text-decoration: underline
        &-text, &-tel, &-email
            font-size: 20px    
        &-text, &-tel
            margin-bottom: 30px

footer
    margin-bottom: 30px

