@media (max-width: 992px) {
  .header, .footer {
    height: auto; }
    .header-top-logo, .footer-top-logo {
      margin-right: 100px; }
    .header-buttons, .footer-buttons {
      margin-top: 80px;
      padding-bottom: 25px; }
  .requestForm-form {
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    grid-row-gap: 10px; }
  .video-wrapper .video-player {
    width: 680px;
    height: 290px; }
  .clients .container-inner {
    gap: 15px;
    padding: 15px 15px 0; }
  .consultation .consultation-form {
    padding: 30px; } }

@media (max-width: 768px) {
  .header-main-text-title, .footer-main-text-title {
    font-size: 38px; }
  .header-main-text-subtitle, .footer-main-text-subtitle {
    font-size: 25px; }
  .header-images-block:not(:last-child), .footer-images-block:not(:last-child) {
    margin-right: 50px; }
  .header-buttons-container:not(:last-child), .footer-buttons-container:not(:last-child) {
    margin-right: 20px; }
  .about .about-firstRow .about-block:not(:last-child),
  .about .about-secondRow .about-block:not(:last-child) {
    margin-right: 15px; }
  .about .about-secondRow {
    margin-top: 20px; }
  .requestForm-form {
    padding: 30px; }
    .requestForm-form-column:not(:last-child) {
      margin-right: 25px; }
    .requestForm-form-column-row select, .requestForm-form-column-row input, .requestForm-form-column-row textarea {
      width: 160px; }
    .requestForm-form-column-row button {
      width: 160px; }
  .detailes .container-inner .detailes-row img {
    width: 20%;
    height: auto; }
  .video-wrapper .video-player {
    width: 480px;
    height: 290px; }
  .clients .container-inner {
    -ms-grid-columns: auto;
    grid-template-columns: auto; }
  .consultation .consultation-form .input-container .input-block input {
    width: 160px; }
  .consultation .consultation-form button {
    width: 200px;
    font-size: 15px; } }

@media (max-width: 567px) {
  .container {
    padding: 0 10px; }
  .header-top-logo, .footer-top-logo {
    font-size: 20px;
    margin-right: 30px; }
  .header-top-contact-title, .footer-top-contact-title {
    font-size: 20px; }
  .header-top-contact-subtitle, .footer-top-contact-subtitle {
    font-size: 12px; }
  .header-main-text-title, .footer-main-text-title {
    font-size: 27px; }
  .header-main-text-subtitle, .footer-main-text-subtitle {
    font-size: 17px; }
  .header-images, .footer-images {
    margin-top: 70px; }
    .header-images-block-subtitle, .footer-images-block-subtitle {
      margin-top: 20px; }
  .header-buttons button, .footer-buttons button {
    width: 160px; }
  .about {
    margin-top: 40px; }
  .requestForm {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px; }
    .requestForm-form {
      padding: 30px 0px 20px 20px; }
      .requestForm-form-column-row .title {
        padding-bottom: 5px; }
      .requestForm-form-column-row select, .requestForm-form-column-row input, .requestForm-form-column-row textarea {
        width: 140px; }
      .requestForm-form-column-row button {
        width: 140px; }
  .detailes {
    margin-top: 40px; }
    .detailes .container-inner .detailes-row img:not(:last-child) {
      margin: 0; }
  .video-wrapper .video-player {
    width: 320px;
    height: 190px; }
  .clients {
    padding: 40px 0; }
  .consultation {
    padding: 40px 0; }
    .consultation .consultation-form {
      margin-top: 30px; }
      .consultation .consultation-form .input-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0 20px; }
        .consultation .consultation-form .input-container .input-block {
          text-align: center; }
          .consultation .consultation-form .input-container .input-block input {
            width: 200px;
            padding: 0; }
          .consultation .consultation-form .input-container .input-block .input-title:last-child {
            margin-top: 10px; }
        .consultation .consultation-form .input-container .input-block:not(:last-child) {
          margin: 0;
          margin-bottom: 10px; } }

/*# sourceMappingURL=media.css.map */
