@font-face {
  font-family: 'Lato Rus';
  src: url(../fonts/Lato-Regular.woff);
  font-weight: normal; }

@font-face {
  font-family: 'Lato Rus';
  src: url(../fonts/Lato-Bold.woff);
  font-weight: 700; }

* {
  font-family: 'Lato Rus';
  box-sizing: border-box; }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1920px; }

.header {
  background: url("../img/header-bg.png") no-repeat;
  background-position: cover;
  height: 790px;
  color: white; }
  .header-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 34px; }
    .header-top-logo {
      font-size: 30px;
      color: #5a5a5a;
      margin-right: 590px; }
    .header-top-contact-title {
      font-size: 28px;
      font-weight: 700; }
    .header-top-contact-subtitle {
      color: #d91233;
      font-size: 16px;
      text-decoration: underline; }
  .header-main-text {
    margin-top: 113px; }
    .header-main-text-title {
      font-size: 48px;
      font-weight: 700;
      text-transform: uppercase; }
    .header-main-text-subtitle {
      font-size: 30px;
      line-height: 46px;
      text-align: center; }
  .header-images {
    margin-top: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .header-images-block {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-right: 100px;
      text-align: center; }
      .header-images-block-subtitle {
        margin-top: 35px; }
  .header-buttons {
    margin-top: 115px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .header-buttons-container {
      margin-right: 40px; }
      .header-buttons-container-subtitle {
        font-size: 14px;
        text-align: center;
        margin-top: 20px; }
      .header-buttons-container button {
        width: 240px;
        height: 50px;
        border-radius: 25px;
        background-color: #d91233;
        border: none;
        color: white;
        font-weight: 700; }
      .header-buttons-container:last-child button {
        background-color: transparent;
        border: 1px solid #d91233; }

section.about {
  margin-top: 80px; }
  section.about .about-firstRow,
  section.about .about-secondRow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    section.about .about-firstRow .about-block,
    section.about .about-secondRow .about-block {
      text-align: center;
      margin-right: 90px; }
      section.about .about-firstRow .about-block-image,
      section.about .about-secondRow .about-block-image {
        margin-top: 20px; }
      section.about .about-firstRow .about-block-title,
      section.about .about-secondRow .about-block-title {
        margin-top: 20px;
        font-size: 16px;
        font-size: 16px;
        font-weight: 700; }
      section.about .about-firstRow .about-block-subtitle,
      section.about .about-secondRow .about-block-subtitle {
        margin-top: 20px;
        font-size: 14px; }
  section.about .about-secondRow {
    margin-top: 80px; }

.requestForm {
  margin-top: 80px;
  padding-top: 80px;
  background-color: #ebebeb;
  padding-bottom: 80px; }
  .requestForm-top-title {
    font-size: 30px;
    font-weight: 700;
    text-align: center; }
  .requestForm-top-subtitle {
    font-size: 16px;
    margin-top: 20px; }
  .requestForm-form {
    margin-top: 60px;
    padding: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border: 5px solid white; }
    .requestForm-form-column {
      margin-right: 50px; }
      .requestForm-form-column-row:not(:last-child) {
        margin-bottom: 20px; }
      .requestForm-form-column-row .title {
        font-size: 13px; }
      .requestForm-form-column-row select, .requestForm-form-column-row input, .requestForm-form-column-row textarea {
        width: 240px;
        height: 40px;
        font-size: 13px; }
        .requestForm-form-column-row select::-webkit-input-placeholder, .requestForm-form-column-row input::-webkit-input-placeholder, .requestForm-form-column-row textarea::-webkit-input-placeholder {
          color: #b8b8b8; }
        .requestForm-form-column-row select::-moz-placeholder, .requestForm-form-column-row input::-moz-placeholder, .requestForm-form-column-row textarea::-moz-placeholder {
          color: #b8b8b8; }
        .requestForm-form-column-row select:-ms-input-placeholder, .requestForm-form-column-row input:-ms-input-placeholder, .requestForm-form-column-row textarea:-ms-input-placeholder {
          color: #b8b8b8; }
        .requestForm-form-column-row select::-ms-input-placeholder, .requestForm-form-column-row input::-ms-input-placeholder, .requestForm-form-column-row textarea::-ms-input-placeholder {
          color: #b8b8b8; }
        .requestForm-form-column-row select::placeholder, .requestForm-form-column-row input::placeholder, .requestForm-form-column-row textarea::placeholder {
          color: #b8b8b8; }
      .requestForm-form-column-row input {
        padding-left: 15px; }
      .requestForm-form-column-row textarea {
        height: 115px;
        resize: none;
        padding: 15px 0 0 15px; }
      .requestForm-form-column-row button {
        display: block;
        margin-top: 30px;
        width: 240px;
        height: 50px;
        border-radius: 25px;
        background-color: #d91233;
        border: none;
        color: white;
        font-weight: 700; }

.detailes {
  margin-top: 80px; }

.video {
  margin-top: 80px; }
  .video-title {
    font-size: 30px;
    font-weight: 700; }
  .video-wrapper {
    padding: 15px;
    border: 5px solid #f2f2f2;
    margin-top: 60px; }
    .video-wrapper .video-player {
      width: 780px;
      height: 390px;
      background-color: #3b3b3b; }

/*# sourceMappingURL=style.css.map */
