@font-face {
  font-family: 'Lato Rus';
  src: url(../fonts/Lato-Regular.woff);
  font-weight: normal; }

@font-face {
  font-family: 'Lato Rus';
  src: url(../fonts/Lato-Bold.woff);
  font-weight: 700; }

* {
  font-family: 'Lato Rus';
  box-sizing: border-box; }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100wh; }

h1, h2 {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 30px;
  font-weight: 700;
  text-align: center; }

h2 {
  font-size: 16px;
  margin-top: 20px;
  font-weight: 400;
  text-align: center; }

p {
  margin: 0;
  padding: 0; }

button {
  border-radius: 25px;
  background-color: #d91233;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer; }

.header, .footer {
  background: url("../img/header-bg.png") repeat-y;
  background-position: cover;
  height: 790px;
  color: white; }
  .header-top, .footer-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 34px; }
    .header-top-logo, .footer-top-logo {
      font-size: 30px;
      color: #5a5a5a;
      margin-right: 590px; }
    .header-top-contact-title, .footer-top-contact-title {
      font-size: 28px;
      font-weight: 700; }
    .header-top-contact-subtitle, .footer-top-contact-subtitle {
      color: #d91233;
      font-size: 16px;
      text-decoration: underline;
      cursor: pointer; }
  .header-main-text, .footer-main-text {
    margin-top: 113px; }
    .header-main-text-title, .footer-main-text-title {
      font-size: 48px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center; }
    .header-main-text-subtitle, .footer-main-text-subtitle {
      font-size: 30px;
      line-height: 46px;
      text-align: center; }
  .header-images, .footer-images {
    margin-top: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .header-images-block, .footer-images-block {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      text-align: center; }
      .header-images-block-subtitle, .footer-images-block-subtitle {
        margin-top: 35px; }
    .header-images-block:not(:last-child), .footer-images-block:not(:last-child) {
      margin-right: 100px; }
  .header-buttons, .footer-buttons {
    margin-top: 115px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .header-buttons-container-subtitle, .footer-buttons-container-subtitle {
      font-size: 14px;
      text-align: center;
      margin-top: 20px; }
    .header-buttons-container button, .footer-buttons-container button {
      width: 240px;
      height: 50px; }
    .header-buttons-container:last-child button, .footer-buttons-container:last-child button {
      background-color: transparent;
      border: 1px solid #d91233; }
    .header-buttons-container:not(:last-child), .footer-buttons-container:not(:last-child) {
      margin-right: 40px; }

.about {
  margin-top: 80px; }
  .about .about-firstRow,
  .about .about-secondRow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .about .about-firstRow .about-block,
    .about .about-secondRow .about-block {
      text-align: center; }
      .about .about-firstRow .about-block-image,
      .about .about-secondRow .about-block-image {
        margin-top: 20px; }
      .about .about-firstRow .about-block-title,
      .about .about-secondRow .about-block-title {
        margin-top: 20px;
        font-size: 16px;
        font-size: 16px;
        font-weight: 700; }
      .about .about-firstRow .about-block-subtitle,
      .about .about-secondRow .about-block-subtitle {
        margin-top: 20px;
        font-size: 14px; }
    .about .about-firstRow .about-block:not(:last-child),
    .about .about-secondRow .about-block:not(:last-child) {
      margin-right: 90px; }
  .about .about-secondRow {
    margin-top: 80px; }

.requestForm {
  margin-top: 80px;
  padding-top: 80px;
  background-color: #ebebeb;
  padding-bottom: 80px; }
  .requestForm-top-title {
    font-size: 30px;
    font-weight: 700;
    text-align: center; }
  .requestForm-top-subtitle {
    font-size: 16px;
    margin-top: 20px; }
  .requestForm-form {
    margin-top: 60px;
    padding: 60px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
    grid-template-columns: auto auto auto;
    border: 5px solid white; }
    .requestForm-form-column-row:not(:last-child) {
      margin-bottom: 20px; }
    .requestForm-form-column-row .title {
      font-size: 13px; }
    .requestForm-form-column-row select, .requestForm-form-column-row input, .requestForm-form-column-row textarea {
      width: 240px;
      height: 40px;
      font-size: 13px; }
      .requestForm-form-column-row select::-webkit-input-placeholder, .requestForm-form-column-row input::-webkit-input-placeholder, .requestForm-form-column-row textarea::-webkit-input-placeholder {
        color: #b8b8b8; }
      .requestForm-form-column-row select::-moz-placeholder, .requestForm-form-column-row input::-moz-placeholder, .requestForm-form-column-row textarea::-moz-placeholder {
        color: #b8b8b8; }
      .requestForm-form-column-row select:-ms-input-placeholder, .requestForm-form-column-row input:-ms-input-placeholder, .requestForm-form-column-row textarea:-ms-input-placeholder {
        color: #b8b8b8; }
      .requestForm-form-column-row select::-ms-input-placeholder, .requestForm-form-column-row input::-ms-input-placeholder, .requestForm-form-column-row textarea::-ms-input-placeholder {
        color: #b8b8b8; }
      .requestForm-form-column-row select::placeholder, .requestForm-form-column-row input::placeholder, .requestForm-form-column-row textarea::placeholder {
        color: #b8b8b8; }
    .requestForm-form-column-row input {
      padding-left: 15px; }
    .requestForm-form-column-row textarea {
      height: 115px;
      resize: none;
      padding: 15px 0 0 15px; }
    .requestForm-form-column-row button {
      width: 240px;
      height: 50px; }
    .requestForm-form-column:not(:last-child) {
      margin-right: 50px; }

.detailes {
  margin-top: 80px; }
  .detailes-title {
    font-size: 30px;
    font-weight: 700;
    text-align: center; }
  .detailes .container-inner {
    margin-top: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .detailes .container-inner .detailes-row {
      text-align: center; }
      .detailes .container-inner .detailes-row img:not(:last-child) {
        margin-right: 20px; }
    .detailes .container-inner .detailes-row:not(:first-child) {
      margin-top: 20px; }

.video {
  margin-top: 80px; }
  .video-title {
    font-size: 30px;
    font-weight: 700;
    text-align: center; }
  .video-wrapper {
    padding: 15px;
    border: 5px solid #f2f2f2;
    margin-top: 60px; }
    .video-wrapper .video-player {
      width: 780px;
      height: 390px;
      background-color: #3b3b3b; }

.clients {
  background-color: #ebebeb;
  margin-top: 80px;
  padding-top: 80px;
  padding-bottom: 80px; }
  .clients h1 {
    font-size: 30px;
    font-weight: 700; }
  .clients .container-inner {
    padding-top: 60px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    gap: 50px; }
    .clients .container-inner .clients-block {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .clients .container-inner .clients-block-main {
        margin-left: 20px; }
        .clients .container-inner .clients-block-main-title {
          color: #757575;
          font-size: 12px; }
        .clients .container-inner .clients-block-main-subtitle {
          margin-top: 5px;
          color: #d91233;
          font-size: 16px;
          font-weight: 700; }
        .clients .container-inner .clients-block-main-text {
          margin-top: 10px;
          color: #2b2b2b;
          font-size: 13px;
          font-weight: 700; }

.consultation {
  background-color: #dbdbdb;
  padding: 80px; }
  .consultation .consultation-form {
    margin-top: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border: 5px solid #ffffff;
    padding: 60px; }
    .consultation .consultation-form .input-container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .consultation .consultation-form .input-container .input-block .input-title {
        font-size: 13px;
        margin-bottom: 7px; }
      .consultation .consultation-form .input-container .input-block input {
        width: 290px;
        height: 45px;
        border: none;
        padding-left: 15px; }
      .consultation .consultation-form .input-container .input-block:not(:last-child) {
        margin-right: 40px; }
    .consultation .consultation-form button {
      margin-top: 40px;
      width: 300px;
      height: 50px; }

.map {
  background: url("../img/map.jpg") no-repeat;
  background-position: center;
  height: 500px;
  position: relative; }
  .map-block {
    background-color: #d91233;
    position: absolute;
    top: 50px;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    padding: 50px 100px;
    color: #fff;
    text-align: center; }
    .map-block-title {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 35px; }
    .map-block-text {
      font-size: 20px; }
    .map-block-tel {
      font-weight: 700; }
    .map-block-email {
      text-decoration: underline;
      cursor: pointer; }
    .map-block-text, .map-block-tel, .map-block-email {
      font-size: 20px; }
    .map-block-text, .map-block-tel {
      margin-bottom: 30px; }

section.popup {
  width: 320px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  section.popup h1 {
    font-size: 14px; }
  section.popup p {
    margin-top: 6px;
    font-size: 12px;
    text-align: center; }
  section.popup a {
    position: absolute;
    top: 0;
    right: -20px;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%); }
  section.popup form {
    margin-top: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    section.popup form input {
      margin-bottom: 10px;
      height: 40px;
      border: 1px solid #d0d0d0;
      padding-left: 15px; }
      section.popup form input::-webkit-input-placeholder {
        color: #676767;
        font-size: 12px; }
      section.popup form input::-moz-placeholder {
        color: #676767;
        font-size: 12px; }
      section.popup form input:-ms-input-placeholder {
        color: #676767;
        font-size: 12px; }
      section.popup form input::-ms-input-placeholder {
        color: #676767;
        font-size: 12px; }
      section.popup form input::placeholder {
        color: #676767;
        font-size: 12px; }
      section.popup form input:invalid {
        box-shadow: none; }
      section.popup form input.name {
        background: url("../img/popupIconName.png") no-repeat center right 15px; }
      section.popup form input.phone {
        background: url("../img/popupIconPhone.png") no-repeat center right 15px; }
      section.popup form input.mail {
        background: url("../img/popupIconMail.png") no-repeat center right 15px; }
    section.popup form button {
      width: 220px;
      height: 45px; }

.popupBidConfirm {
  visibility: hidden;
  height: 120px; }
  .popupBidConfirm p {
    width: 200px; }

.popupCall {
  visibility: hidden;
  height: 330px; }

.popupQuickCall {
  visibility: hidden;
  height: 280px; }

section.backgroundHalfDark {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 2;
  opacity: 0.5; }

footer {
  margin-bottom: 30px; }
  footer .footer-top-contact-subtitle {
    cursor: pointer; }

/*# sourceMappingURL=style.css.map */
