<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/style.css")
        link(href!="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap", rel="stylesheet")
        title Кузовной ремонт
    body
        header.header.container
            .header-top
                .header-top-logo ЛОГОТИП
                .header-top-contact 
                    .header-top-contact-title 8 800 232 32 12
                    .header-top-contact-subtitle Заказать обратный звонок
            .header-main-text
                .header-main-text-title Продажа кузовных запчастей
                .header-main-text-subtitle с заводской покраской без пробега по РФ
            .header-images
                .header-images-block
                    .header-images-block-img
                        img(src="img/car.png", alt="")
                    .header-images-subtitle
                        |Доставка по РФ<br>
                        |от 3-х дней 
                .header-images-block
                    .header-images-block-img
                        img(src="img/new.png", alt="")
                    .header-images-subtitle
                        |Новое состояние<br>
                        |по цене б/у
                .header-images-block
                    .header-images-block-img
                        img(src="img/list.png", alt="")
                    .header-images-block-subtitle
                        |Наличие более 500<br>
                        |различных деталей
            .header-buttons
                .header-buttons-container
                    button Быстрая заявка
                    .header-buttons-container-subtitle
                        |Мы перезвоним Вам<br>
                        |для уточнения деталей.
                .header-buttons-container
                    button Подробная заявка
                    .header-buttons-container-subtitle
                        |Заполните подробную<br>
                        |заявку онлайн!


                




