<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/media.css")
        link(href!="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap", rel="stylesheet")
        title Кузовной ремонт
    body
        header.header.container
            .header-top
                .header-top-logo ЛОГОТИП
                .header-top-contact 
                    .header-top-contact-title 8 800 232 32 12
                    .header-top-contact-subtitle Заказать обратный звонок
            .header-main-text
                .header-main-text-title Продажа кузовных запчастей
                .header-main-text-subtitle с заводской покраской без пробега по РФ
            .header-images
                .header-images-block
                    .header-images-block-img
                        img(src="img/car.png", alt="")
                    .header-images-subtitle
                        |Доставка по РФ<br>
                        |от 3-х дней 
                .header-images-block
                    .header-images-block-img
                        img(src="img/new.png", alt="")
                    .header-images-subtitle
                        |Новое состояние<br>
                        |по цене б/у
                .header-images-block
                    .header-images-block-img
                        img(src="img/list.png", alt="")
                    .header-images-block-subtitle
                        |Наличие более 500<br>
                        |различных деталей
            .header-buttons
                .header-buttons-container
                    button.openPopupQuickCall Быстрая заявка
                    .header-buttons-container-subtitle
                        |Мы перезвоним Вам<br>
                        |для уточнения деталей.
                .header-buttons-container
                    button.goToBullBid Подробная заявка
                    .header-buttons-container-subtitle
                        |Заполните подробную<br>
                        |заявку онлайн!
        section.about.container
            .about-firstRow
                .about-block
                    .about-block-image
                        img(src="img/about-1.png", alt="")
                    .about-block-title Более 1000 наименований
                    .about-block-subtitle 
                        |Возможность заказа и подбора<br>
                        |более чем по 2000 наименований<br>
                        |деталей
                .about-block
                    .about-block-image
                        img(src="img/about-2.png", alt="")
                    .about-block-title Доставка в любой регион РФ
                    .about-block-subtitle 
                        |Мы работаем с любой транспортной<br>
                        |компанией и осуществляем<br>
                        |доставку в любой регион РФ
                .about-block
                    .about-block-image
                        img(src="img/about-3.png", alt="")
                    .about-block-title Новое состояние деталей
                    .about-block-subtitle 
                        |Наши детали не были в<br>
                        |употреблении и имеют состояние<br>
                        |новых
            .about-secondRow
                .about-block
                    .about-block-image
                        img(src="img/about-4.png", alt="")
                    .about-block-title Европейское качество
                    .about-block-subtitle 
                        |Все наши детали привезены из<br>
                        |Европы, что гарантирует отличное<br>
                        |качество.
                .about-block
                    .about-block-image
                        img(src="img/about-5.png", alt="")
                    .about-block-title Работаем по договору
                    .about-block-subtitle 
                        |Все, что мы делаем - официально.<br>
                        |Мы заключаем договор<br>
                        |купли-продажи и предоставляем<br>
                        |все необходимые документы
        
        section.requestForm.container
            a(name="fullBid")
            .requestForm-top
                .requestForm-top-title Подробная заявка
                .requestForm-top-subtitle Заполните форму и получите максимально точную цену!
            form.requestForm-form(action="")
                .requestForm-form-label
                    .title Марка:
                    select(required) 
                        option(selected disabled value='') Выберите марку
                        option Audi
                        option Mercedes-Benz
                        option Другая
                .requestForm-form-model
                    .title Модель:
                    select(required) 
                        option(selected disabled value='') Выберите модель
                        option Audi A4
                        option Audi A3
                        option Другая
                .requestForm-form-yeah
                    .title Год выпуска:
                    select(required)
                        option(selected disabled value='') Выберите год
                        option 2009
                        option 2020
                        option Другой
                .requestForm-form-detailes
                    .title Необходимые детали:
                    textarea(placeholder='Введите', required)
                .requestForm-form-name
                    .title.name Ваше имя:
                    input.name(type="text", placeholder='Введите', required)
                .requestForm-form-phone
                    .title Ваш телефон:
                    input(type="tel", placeholder='+7 (9__) ___-__-__', required)
                .requestForm-form-email
                    .title Ваш e-mail:
                    input(type="email", placeholder='Введите', required)
                button.requestForm-form-button.openPopupConfirm2 Узнать цену

        section.detailes.container
            .detailes-title Имеем в наличии детали на авто:
            .container-inner
                .detailes-row
                    img(src="img/car1.png", alt="")
                    img(src="img/car2.png", alt="")
                    img(src="img/car3.png", alt="")
                    img(src="img/car4.png", alt="")
                    img(src="img/car5.png", alt="")
                .detailes-row   
                    img(src="img/car6.png", alt="")
                    img(src="img/car7.png", alt="")
                    img(src="img/car8.png", alt="")
                    img(src="img/car9.png", alt="")
                .detailes-row
                    img(src="img/car10.png", alt="")
                    img(src="img/car11.png", alt="")
                    img(src="img/car12.png", alt="")
                    img(src="img/car13.png", alt="")

        section.video.container
            .video-title Вы можете посмотреть что происходит у нас!
            .video-wrapper
                .video-player
        
        section.clients.container
            h1 Клиенты о нас
            .container-inner
                .clients-block
                    .clients-block-img
                        img(src="img/client.png", alt="client")
                    .clients-block-main
                        .clients-block-main-title Иван Иванович
                        .clients-block-main-subtitle Не могу найти фару для авто
                        .clients-block-main-text
                            |“ Мотордеталь в широком ассортименте по ценам от<br>
                            |известного дистрибьютора автозапчастей. ООО<br>
                            |"РАДИАТОР" пользуется заслуженным уважением<br>
                            |среди покупателей, благодаря высокому сервису,<br>
                            |скидкам, отличному качеству продукции.
                .clients-block
                    .clients-block-img
                        img(src="img/client.png", alt="client")
                    .clients-block-main
                        .clients-block-main-title Иван Иванович
                        .clients-block-main-subtitle Не могу найти фару для авто
                        .clients-block-main-text
                            |“ Мотордеталь в широком ассортименте по ценам от<br>
                            |известного дистрибьютора автозапчастей. ООО<br>
                            |"РАДИАТОР" пользуется заслуженным уважением<br>
                            |среди покупателей, благодаря высокому сервису,<br>
                            |скидкам, отличному качеству продукции.               
                .clients-block
                    .clients-block-img
                        img(src="img/client.png", alt="client")
                    .clients-block-main
                        .clients-block-main-title Иван Иванович
                        .clients-block-main-subtitle Не могу найти фару для авто
                        .clients-block-main-text
                            |“ Мотордеталь в широком ассортименте по ценам от<br>
                            |известного дистрибьютора автозапчастей. ООО<br>
                            |"РАДИАТОР" пользуется заслуженным уважением<br>
                            |среди покупателей, благодаря высокому сервису,<br>
                            |скидкам, отличному качеству продукции.               
                .clients-block
                    .clients-block-img
                        img(src="img/client.png", alt="client")
                    .clients-block-main
                        .clients-block-main-title Иван Иванович
                        .clients-block-main-subtitle Не могу найти фару для авто
                        .clients-block-main-text
                            |“ Мотордеталь в широком ассортименте по ценам от<br>
                            |известного дистрибьютора автозапчастей. ООО<br>
                            |"РАДИАТОР" пользуется заслуженным уважением<br>
                            |среди покупателей, благодаря высокому сервису,<br>
                            |скидкам, отличному качеству продукции.
        
        section.consultation.container
            h1 Нужна консультация?
            h2 Заполните форму и получите максимально точную цену!
            form.consultation-form
                .input-container
                    .input-block
                        .input-title Ваше имя:
                        input(type="text", placeholder='Введите', required)
                    .input-block
                        .input-title Ваш телефон:
                        input(type="tel", placeholder='+7 (9__) ___-__-__', required)
                button.openPopupConfirm3 Заказать консультацию
        
        section.map.container
            .map-block
                .map-block-title Контакты
                .map-block-text г. Москва, ул. Дорожная, 8, к.1
                .map-block-tel 8 800 123 43 34
                .map-block-email info@sitename.ru
        section.popup.popupBidConfirm
            h1 Спасибо за вашу заявку!
            p Мы свяжемся с Вами в ближайшее время!
            a.closePopupConfirm(href="#")
                img(src="img/closePopup.png", alt="closePopup")
        section.popup.popupCall
            h1 Заказ обратного звонка
            p Оставьте заявку и мы Вам перезвоним!
            a.closePopupCall(href="#")
                img(src="img/closePopup.png", alt="closePopup")
            form
                input.name(type="text", placeholder="Ваше имя", required)
                input.phone(type="tel", placeholder='Ваш телефон', required)
                input.mail(type="text", placeholder="Ваша почта", required)
                button.popupCallSend Отправить заявку
        section.popup.popupQuickCall
            h1 Быстрая заявка
            p Оставьте заявку и мы Вам перезвоним!
            a.closePopupQuickCall(href="#")
                img(src="img/closePopup.png", alt="closePopup")
            form
                input.name(type="text", placeholder="Ваше имя", required)
                input.phone(type="tel", placeholder='Ваш телефон', required)
                button.openPopupConfirm1 Отправить заявку
        section.backgroundHalfDark

        footer.container
            .footer-top
                .footer-top-logo ЛОГОТИП
                .footer-top-contact 
                    .footer-top-contact-title 8 800 232 32 12
                    .footer-top-contact-subtitle Заказать обратный звонок
            script(src="js/script.js")



            



                




                




